* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
    
    
    
}
:root{
    --blue:#212832;
}
/*Header---------------*/
header{
    position: fixed;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;



}
.logo img{
    max-width: 100%;
    width: 115px;
    height: auto;
}
.navmenu{
    display: flex;

}
.navmenu li{
    position: relative;

}
.navmenu li a{
    color: #212832;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    transition: all .42s;
}

.navmenu a::after{
    content: ' ';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #212832;
    bottom: -2px;
    left: 0;
    transition: all .42s;

}
.navmenu a:hover::after{
    width: 85%;
    
}
.btn-icon{
    display: flex;
    align-items: center;
}
.nav-btn{
    font-size: 17px;
    color: var(--blue);
    font-weight: 500;
    border: 2px solid var(--blue);
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all .42s;

}
.nav-btn:hover{
    background-color: var(--blue);
    color: #ffffff;
}
#menu-icon{
    font-size: 35px;
    color: var(--blue);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/*----Home-Section---*/
section{
    padding: 0px 12%;
    margin: 0%;
    
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url(/images/decore.png);
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
}

.home-img img{
    max-width: 100%;
    /*width: 280px;*/
    
    height:auto;
    margin-top: 30px;
    margin-left: 60px;
    display: inline-flex;
}
.home-text h4{
    color: rgb(78, 8, 142);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;

}
.home-text h1{
    color: #181E48;
    font-size: 45px;
    font-family: 'volkhov';
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.04cm;
    margin-bottom: 18px;

}
.home-text p{
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;

}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.btn1{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: capitalize;
    background: rgb(49, 3, 92);
    border-radius: 10px;
    margin-right: 40px;
    transition: all .42s;

}
.btn1:hover{
    transform: translateY(-5px);
}
.btn2{
    color: #181E48;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn2 span {
    width: 52px;
    height: 52px;
    background:rgb(45, 25, 0);
    color: #ffffffff;
    font-size: 40px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(130, 223, 212, 0.998);
    margin-right: 15px;
    transition: all .42s;

}
.btn2 span:hover{
    background: transparent;
    color: #212832;
}

/*--------category-section------*/
.center-text{
    text-align: center;

}
.center-text h4{
    font-size: 18px;
    color: #5E6282;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;

}
.center-text h2{
    font-size: 45px;
    color: #14183e;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'volkhow';
    margin-bottom: 90px;

}
.cate-pro{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,auto));
    gap: 0.5rem;
    text-align: center;
}
.col{
    padding: 40px 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) -6px 6px 25px -9px;
    transition: all .42s;
}
.col img{
    width: 75px;
    height: auto;
    margin-bottom: 20px;
}
.col h5{
    font-size: 16px;
    color: #1E1D4C;
    font-weight: 600;
    margin-bottom: 15px;

}
.col p{
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;

}
.col:hover{
    transform: translateY(-8px);
    
}
/*--------sticky dsign-------*/
header.sticky{
    background-color:#47E5BC;
    padding: 12px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
    transition: .43s;

}

/*---------desinations-section-------------*/
.destinations-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px, auto));
    align-items: center;
    gap: 2rem;
}
.main-dest{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,auto));
    align-items: center;
    gap: 0.5rem;
    

}
.destination-text h5{
    font-size: 18px;
    color: #5E6282;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    margin-top: 130px;
}
.destination-text h2{
    color: #14183e;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700px;
    text-align: center;
    font-family: 'volkhow';

}
.hov-img img{
    width: 93%;
    height: auto;
  /*  border-radius*/
  transition: all .42s;

}
.box{
    position: relative;
}
.box .text-in{
    position: absolute;
    bottom: 80px;
    left: 20px;

}